.app {
  display: flex;
  align-items: stretch;
  height: 100vh;
  font: 16px "Roboto", sans-serif;
}

.editor {
  font-size: 14px;
  width: calc(100% - 450px);
  flex-shrink: 0;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.ReactCodeMirror {
  overflow: scroll;
}

.CodeMirror {
  height: 100vh !important;
  width: 100%;
}

.sidebar {
  width: 450px;
  -webkit-font-smoothing: antialiased;
}

code, pre {
  font-family: "Source Code Pro" !important;
}
