.button {
  appearance: none;
  border: 0;
  font-weight: 400 !important;
  display: block;
  width: 100%;
  background: white;
  color: #333D49;
  text-decoration: none;
  padding: 14px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:focus {
  outline: 0;
  box-shadow: 0 0 7px rgba(255, 255, 255, 1);
}
